MONGODB_URI= "mongodb+srv://admin:ugFXVEVR0S7nsSLl@cluster0.blelx.mongodb.net/holiday-keepers?retryWrites=true&w=majority"
NODE_ENV="development"
PAGE_LIMIT = 20
# NEXT_PUBLIC_SERVER_URL=https://exchange.blockchainappdevs.com/holiday-api-v2/api
# NEXT_PUBLIC_FILE_UPLOAD=https://exchange.blockchainappdevs.com/holiday-api-v2-file
# NEXT_PUBLIC_API_BASE_URL=https://exchange.blockchainappdevs.com/holiday-api
# NEXT_PUBLIC_SOCKET_URL=https://socket.blockchainappdevs.com
NEXT_PUBLIC_GOOGLE_MAP_API=AIzaSyC8DuXEQ8kS9ZteOicKDqYBzmfapH4qRNc
NEXT_PUBLIC_IP_API_KEY=ceb19066bb2245c486335d5809ffe160
NEXT_PUBLIC_CHAT_API_BASE_URL=https://rentmyhotel.com/hk-chat/api
NEXT_PUBLIC_SOCKET_URL=http://rentmyhotel.com:3011
NEXT_PUBLIC_BASE_URL=https://rentmyhotel.com/api/v2
BASE_URL=https://rentmyhotel.com/api/v2
NEXT_PUBLIC_RENTMYHOTEL_CDN=https://dnwgchkfkg0dw.cloudfront.net/